:root{   
    /* Colors */
    --colors-White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

body{
    /* Typography */
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-family: 'Outfit', sans-serif;

    /* Designs */
    background-color: var( --Light-gray );
}

.container{
    /* Dimensions */
    width: 100%;
    height: 100vh;

    /* D. X and Y */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card */
.card{
    /* Designs */
    background-color: var( --colors-White );
    padding: 1.2em;
    border-radius: 5%;

    /* Dimensions */
    width: 22em;
    height: 35em;
}
.card__img{
    /* Designs */
    border-radius: 1.2em;

    /* Dimensions */
    width: 100%;
}
.card__body{
    /* Designs */
    text-align: center;

    /* Dimensions */
    margin: auto;
    width: 80%;
}


@media screen and ( max-width: 375px ) {
    .container{
       width: 380px; 
    }
}